<md-content ng-controller="createBucket">
    <div>
        <div>
            <h3><label>Enter Name: <input type="text" ng-model="bucketname"  /></label>
            </h3>
        </div>
        <md-button class="md-raised md-accent" ng-click="createbucket(person)">Create</md-button>
    </div>
</md-content>