<div ng-controller="Uploader" ng-cloak>

    <upload imginfo="{AbhinayBali}" id="uploaderid" uploadurl="uploadurl1"></upload>
    <upload imginfo="{AbhinayBali}" id="uploaderid2" uploadurl="uploadurl2"></upload>
</div>