<md-toast>

    <span class="md-toast-text" flex>Your details are valid!</span>
    <md-button class="md-highlight" ng-click="openBuckets($event)">
        get list of Buckets.
    </md-button>
    <md-button ng-click="closeToast()">
        Close
    </md-button>

</md-toast>